h1 {
  color: blue ;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
.I{
  font-style: italic;
}
.good {
  color: red;
  text-align: left;
  font-style: italic;
}
.important {
  color: red;
  }
  .unimportant {
    color: blue;
  }
  @media screen and (min-width:48px) and
  (max-width:767px){
    body[
    background-color: black;
    color:white;
    ]
  }
  @media screen and (min-width: 768px) {
   body}
   background-color:yellowgreen;
 }
 .column {
   width: 220px;
   foat: left;
  padding:15px;
  ]
]
